body{
    font-family: "Roboto", sans-serif;
}

.header{
    display: flex;
    background-color: #1f2937;
    color: #ffffff;
    justify-content: space-evenly;
}

.left-links{
    display: flex;
    color: #ffffff;
    align-items: center;
    font-weight: bold;
}

.right-links ul{
    display: flex;
    font-size: small;
}

.right-links ul li{
    display: flex;
    margin: 20px;
}

.left-links a{
    text-decoration: none;
    color: #ffffff;
}

.right-links li{
    display: flex;
    list-style-type: none;
}

li a{
    color: #ffffff;
    text-decoration: none;
}

.right-links{
    display: flex;
}

.section-one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: #ffffff;
    padding: 60px;
}

