body{
    font-family: "Roboto", sans-serif;
}

.header{
    display: flex;
    background-color: #1f2937;
    color: #ffffff;
    justify-content: space-evenly;
}

.left-links{
    display: flex;
    color: #ffffff;
    align-items: center;
    font-weight: bold;
}

.right-links ul{
    display: flex;
    font-size: small;
}

.right-links ul li{
    display: flex;
    margin: 20px;
}

.left-links a{
    text-decoration: none;
    color: #ffffff;
}

.right-links li{
    display: flex;
    list-style-type: none;
}

li a{
    color: #ffffff;
    text-decoration: none;
}

.right-links{
    display: flex;
}

.section-one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: #ffffff;
    padding: 60px;
}

.section-two{
    display: flex;
    flex-direction: column;
    height: 25%;
}

.section-two-header{
    text-align: center;
}

.section-two-content{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 70%;
    align-self: center;
    margin-top: 30px;
}

.card-and-text{
    display: flex;
    flex-direction: column;
}

.card {
    border-radius: 10px; /* Adjust the value to change the roundness */
    border-color: #8a2be2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for depth */
    padding: 20px;
    background-color: #ffffff; /* Set a background color for the card */
  }

  .section-three{
    display: flex;
    background-color: #e5e7eb;
    margin: 0;
    padding: 0;
    height: 25%;
    align-items: center;
    justify-content: center;
  }

  .footer{
    display: flex;
    height: 20%;
    justify-content: center;
  }

  .footer-banner{
    display: flex;
    align-self: center;
    background-color: #8a2be2;
    width: 70%;
    justify-content: space-around;
  }


  .footer-banner div{
    display: flex;
    align-items: center;
  }